<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Guide</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../guide.css">
</head>
<body>
<!-- import header -->
<%- include('../components/header', { message: message }) %>

<main class="api-guide-container">
    <h1 class="api-guide-title">API Documentation</h1>
    <nav class="api-guide-nav">
        <ul class="api-guide-list">
            <li class="api-guide-item"><a href="/guide/get/users" class="api-guide-link">GET / User Info API 문서</a></li>
            <li class="api-guide-item"><a href="/guide/get/books" class="api-guide-link">GET / Book Info API 문서</a></li>
            <li class="api-guide-item"><a href="/guide/get/coupang" class="api-guide-link">GET / Products Info API 문서</a></li>
            <li class="api-guide-item"><a href="#" class="api-guide-link">POST / Auth API 문서</a></li>
        </ul>
    </nav>
</main>
</body>
</html>