<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학술</title>
    <style>
        .endpoint {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    </style>
</head>
<body>
<header class="main_header">
    <h1>제목</h1>
    <nav class="main_nav">
        <a href="#">Guide</a>
    </nav>
</header>
<section class="endpoint">
    <h2>User 관리</h2>
    <a href="http://localhost:5000/admin/users">/유저 생성</a>
    <a href="http://localhost:5000/admin/users">/유저 업데이트</a>
    <a href="http://localhost:5000/admin/users">/유저 조회</a>
    <a href="http://localhost:5000/admin/users">/유저 삭제</a>

    <h2>Book 관리</h2>
    <a href="http://localhost:5000/books/books">/책 추가</a>
    <a href="http://localhost:5000/books/books">/책 정보 업데이트</a>
    <a href="http://localhost:5000/books/books">/책 조회</a>
    <a href="http://localhost:5000/books/books">/책 삭제</a>

    <h2>쿠팡 제품 관리</h2>
    음식 카테고리 조회
    <a href="http://localhost:5000/coupang_products/food">/제품 추가</a>
    <a href="http://localhost:5000/coupang_products/food">/제품 정보 업데이트</a>
    <a href="http://localhost:5000/coupang_products/foods">/제품 조회</a>
    <a href="http://localhost:5000/coupang_products/food">/제품 삭제</a>
</section>
</body>
</html>
