body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

p {
    font-weight: bold;
    padding-right: 1rem;
}

span {
    padding-left: 1rem;
}

.main_header {
    background-color: #086fb6;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header h1 {
    margin: 0 0 0 25px;
}

.modal-button {
    font-size: 1.2rem;
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}


section {
    margin: 2rem;
}

.guide, .endpoint {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.guide h1, .endpoint h2 {
    margin-top: 0;
}

.guide div, .endpoint div {
    margin-top: 1rem;
}

.data_container {
    display: flex;
    flex-direction: column;
}

.data_container div{
    display: flex;
    align-items: center;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.run-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.run-button:hover {
    background-color: #0056b3;

}
a:hover {
    text-decoration: underline;
}


input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

pre {
    background-color: #f8f9fa;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 추가한 CSS 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* 배경을 투명하게 설정 */
    overflow: auto;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#result {
    max-width: 300px; /* 최대 가로폭 설정 */
    overflow-x: auto; /* 가로 스크롤 나타나게 설정 */

}
.sub_nav ul {
    display: flex;
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.sub_nav li {
    margin-right: 1rem; /* 항목 간의 간격 설정 */
}

.sub_nav li:last-child {
    margin-right: 0; /* 마지막 항목의 오른쪽 마진 제거 */
}

.sub_nav a {
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
    color: #007bff; /* 링크 색상 설정 */
}

.sub_nav a:hover {
    text-decoration: underline; /* 링크에 마우스 올렸을 때 밑줄 표시 */
}
/* input-section 요소를 감싸는 div들의 스타일 */
.input-section {
    display: none; /* 기본적으로 숨김 */
    align-items: center;
    margin-top: 10px; /* 각 입력 섹션 사이의 간격 설정 */
}

.input-section label {
    margin-right: 10px; /* 라벨과 입력 필드 사이의 간격 설정 */
}

.input-section input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.input-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #0056b3;
}
