<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../hero.css">
</head>
<body>
<!-- import header -->
<%- include('components/header', { message: message }) %>
<!-- import hero -->
<%- include('components/hero', { hero: hero }) %>
<!-- main -->
<main class="container">
    <!-- import contents -->
    <%- include('components/section', { title: title, subTitle: subTitle }) %>
</main>
</body>
</html>