.main_header {
    height: 70px;
    position: relative;
}

.header-wrapper {
    width: 1168px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper a,
.guide-link a {
    color: #595959;
    text-decoration: none;
}

.guide-link a:hover {
    color: #589fb8;
}