<header class="main_header">
    <div class="header-wrapper">
        <div class="link-wrapper">
            <a href="/" class="logo">
                <h1><%= message %></h1>
            </a>
        </div>
        <div class="guide-link">
            <a href="/guide" class="nav-link">Documents</a>
        </div>
    </div>
</header>