<header class="main_header">
    <div class="header-wrapper">
        <div class="link-wrapper">
            <a href="/" class="logo">
                <h1><%= message %></h1>
            </a>
        </div>
        <nav class="main_nav">
            <a href="/guide" class="nav-link">Guide</a>
        </nav>
    </div>
</header>