<div class="hero-container">
    <div class="hero-wrapper">
        <div class="hero-content">
            <span class="main-title"><span><%= hero %></span></span>
            <span class="sub-title"><span>안산대학교 학생들을 위한 오픈 API</span></span>
        </div>
    </div>
</div>